<mat-drawer-container class="example-container">
  <mat-drawer-content>
    <nav class="side-nav">
      <ul class="side-nav__container">
        <li *ngIf="!auth.isAuthenticated">
          <a
            [routerLink]="'auth'"
            routerLinkActive="active"
            class="side-nav__item"
          >
            Sign In</a
          >
        </li>
        <li *ngIf="auth.isAuthenticated">
          <button (click)="logout()" class="side-nav__item btn">logout</button>
        </li>

        <li>
          <a
            routerLink="pizza/order"
            routerLinkActive="active"
            class="side-nav__item"
            >Order</a
          >
        </li>
        <li>
          <a
            routerLink="pizza/details"
            routerLinkActive="active"
            class="side-nav__item"
            >Details</a
          >
        </li>
      </ul>
    </nav>
  </mat-drawer-content>
  <!-- <mat-drawer-content>Main content</mat-drawer-content> -->
</mat-drawer-container>
